# https://groups.google.com/forum/#!topic/play-framework/yx0lpw-Bb3I
# https://gist.github.com/mtjikuzu/2658738

syntax: glob

# general
*~

# Play
logs

# SBT
project/project
project/target
target
dist

# Eclipse
.classpath
.project
.settings
.target
.cache

